nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
}
nav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}
nav .logo-container .logo {
  width: 50px;
}
@media (max-width: 767px) {
  nav .logo-container .logo {
    width: 40px;
  }
}
nav .logo-container .logo-name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7921568627);
}
@media (max-width: 767px) {
  nav .logo-container .logo-name {
    font-size: 20px;
  }
}
nav .login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
nav .login-container button:first-child {
  outline: none;
  border: none;
  cursor: pointer;
  border: 0.5px solid #000;
  padding: 8px;
  width: 90px;
  font-size: 18px;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
nav .login-container button:first-child:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 767px) {
  nav .login-container button:first-child {
    font-size: 15px;
    width: 60px;
  }
}
nav .login-container button:last-child {
  outline: none;
  border: none;
  cursor: pointer;
  cursor: pointer;
  padding: 8px;
  border: 1px solid transparent;
  width: 120px;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgb(66, 160, 232);
  color: #fff;
  transition: 0.3s;
}
nav .login-container button:last-child:hover {
  background-color: rgb(39, 113, 169);
}
@media (max-width: 767px) {
  nav .login-container button:last-child {
    font-size: 15px;
    width: 100px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.plans {
  padding: 20px;
}
.plans .plan-cart {
  background-color: antiquewhite;
  padding: 10px 30px;
  border-radius: 4px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
@media (max-width: 767px) {
  .plans .plan-cart {
    min-width: 350px;
  }
}
.plans .plan-cart .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.plans .plan-cart .top-section .header {
  background-color: #000000;
  padding: 2px 10px;
  width: 90px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}
.plans .plan-cart .top-section .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.plans .plan-cart .top-section .price-container .price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  font-weight: 600;
}
.plans .plan-cart .top-section .price-container .price span:first-child {
  align-self: flex-start;
}
.plans .plan-cart .top-section .price-container .price span:last-child {
  align-self: flex-end;
}
.plans .plan-cart .top-section .price-container .price span:nth-child(2) {
  font-size: 50px;
}
.plans .plan-cart .bottom-section {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.337254902);
  width: 100%;
}
.plans .plan-cart .bottom-section .details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.plans .plan-cart .bottom-section .details span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: rgba(0, 0, 0, 0.6156862745);
}
.plans .plan-cart .bottom-section .details span i {
  color: #000000;
  font-weight: 600;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.landing-container h1 {
  font-size: 50px;
  width: 520px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8117647059);
}
@media (max-width: 767px) {
  .landing-container h1 {
    font-size: 35px;
    width: 400px;
  }
}
.landing-container span {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 767px) {
  .landing-container span {
    width: 400px;
  }
}
.landing-container .start-trail {
  background-color: rgb(66, 160, 232);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}
.landing-container .start-trail:hover {
  transform: translateY(-3px);
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.03333333333333,307.7102564102564 128.06666666666666,265.4205128205128 208,303 C 287.93333333333334,340.5794871794872 383.76666666666665,458.0282051282051 461,443 C 538.2333333333333,427.9717948717949 596.8666666666668,280.46666666666664 675,255 C 753.1333333333332,229.53333333333336 850.7666666666665,326.1051282051282 934,360 C 1017.2333333333335,393.8948717948718 1086.0666666666666,365.1128205128205 1168,353 C 1249.9333333333334,340.8871794871795 1344.9666666666667,345.44358974358977 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  25% {
    d: path("M 0,700 C 0,700 0,350 0,350 C 88.89743589743588,421.16410256410256 177.79487179487177,492.3282051282052 257,441 C 336.20512820512823,389.6717948717948 405.71794871794873,215.85128205128203 482,232 C 558.2820512820513,248.14871794871797 641.3333333333335,454.26666666666665 731,464 C 820.6666666666665,473.73333333333335 916.9487179487178,287.0820512820513 986,262 C 1055.0512820512822,236.91794871794872 1096.871794871795,373.40512820512816 1168,415 C 1239.128205128205,456.59487179487184 1339.5641025641025,403.2974358974359 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  50% {
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.33846153846153,314.0923076923077 128.67692307692306,278.1846153846154 202,267 C 275.32307692307694,255.8153846153846 357.63076923076926,269.3538461538461 446,267 C 534.3692307692307,264.6461538461539 628.8,246.40000000000003 723,271 C 817.2,295.59999999999997 911.1692307692308,363.04615384615386 997,355 C 1082.8307692307692,346.95384615384614 1160.523076923077,263.4153846153846 1233,250 C 1305.476923076923,236.5846153846154 1372.7384615384615,293.2923076923077 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  75% {
    d: path("M 0,700 C 0,700 0,350 0,350 C 77.3769230769231,331.8538461538461 154.7538461538462,313.7076923076923 243,298 C 331.2461538461538,282.2923076923077 430.3615384615383,269.0230769230769 516,271 C 601.6384615384617,272.9769230769231 673.8,290.20000000000005 755,306 C 836.2,321.79999999999995 926.4384615384615,336.17692307692306 995,319 C 1063.5615384615385,301.82307692307694 1110.446153846154,253.09230769230768 1181,253 C 1251.553846153846,252.90769230769232 1345.7769230769231,301.45384615384614 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  100% {
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.03333333333333,307.7102564102564 128.06666666666666,265.4205128205128 208,303 C 287.93333333333334,340.5794871794872 383.76666666666665,458.0282051282051 461,443 C 538.2333333333333,427.9717948717949 596.8666666666668,280.46666666666664 675,255 C 753.1333333333332,229.53333333333336 850.7666666666665,326.1051282051282 934,360 C 1017.2333333333335,393.8948717948718 1086.0666666666666,365.1128205128205 1168,353 C 1249.9333333333334,340.8871794871795 1344.9666666666667,345.44358974358977 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
}
footer {
  width: 100%;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
footer .footer-container .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}/*# sourceMappingURL=index.css.map */