$dark_color:#222831;
$white_color :#ffffff;
$black_color :#000000;
$yellow_color :#ffbe33;
$gray_color :#f1f2f3;
$Darkgray_color :#9c9c9c;
$red_color :#cf0000;
$purple_color :#655DBB;
$edit_backColor :rgb(21, 81, 185);
$edit_color :rgb(82 206 114);
$view_color :rgb(51, 175, 247);
$delete_color :rgb(180, 26, 26);
$menu_color :#5443c3;
