@import '../helpers/colors';
.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.03333333333333,307.7102564102564 128.06666666666666,265.4205128205128 208,303 C 287.93333333333334,340.5794871794872 383.76666666666665,458.0282051282051 461,443 C 538.2333333333333,427.9717948717949 596.8666666666668,280.46666666666664 675,255 C 753.1333333333332,229.53333333333336 850.7666666666665,326.1051282051282 934,360 C 1017.2333333333335,393.8948717948718 1086.0666666666666,365.1128205128205 1168,353 C 1249.9333333333334,340.8871794871795 1344.9666666666667,345.44358974358977 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  25%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 88.89743589743588,421.16410256410256 177.79487179487177,492.3282051282052 257,441 C 336.20512820512823,389.6717948717948 405.71794871794873,215.85128205128203 482,232 C 558.2820512820513,248.14871794871797 641.3333333333335,454.26666666666665 731,464 C 820.6666666666665,473.73333333333335 916.9487179487178,287.0820512820513 986,262 C 1055.0512820512822,236.91794871794872 1096.871794871795,373.40512820512816 1168,415 C 1239.128205128205,456.59487179487184 1339.5641025641025,403.2974358974359 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  50%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.33846153846153,314.0923076923077 128.67692307692306,278.1846153846154 202,267 C 275.32307692307694,255.8153846153846 357.63076923076926,269.3538461538461 446,267 C 534.3692307692307,264.6461538461539 628.8,246.40000000000003 723,271 C 817.2,295.59999999999997 911.1692307692308,363.04615384615386 997,355 C 1082.8307692307692,346.95384615384614 1160.523076923077,263.4153846153846 1233,250 C 1305.476923076923,236.5846153846154 1372.7384615384615,293.2923076923077 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  75%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 77.3769230769231,331.8538461538461 154.7538461538462,313.7076923076923 243,298 C 331.2461538461538,282.2923076923077 430.3615384615383,269.0230769230769 516,271 C 601.6384615384617,272.9769230769231 673.8,290.20000000000005 755,306 C 836.2,321.79999999999995 926.4384615384615,336.17692307692306 995,319 C 1063.5615384615385,301.82307692307694 1110.446153846154,253.09230769230768 1181,253 C 1251.553846153846,252.90769230769232 1345.7769230769231,301.45384615384614 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
  100%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 64.03333333333333,307.7102564102564 128.06666666666666,265.4205128205128 208,303 C 287.93333333333334,340.5794871794872 383.76666666666665,458.0282051282051 461,443 C 538.2333333333333,427.9717948717949 596.8666666666668,280.46666666666664 675,255 C 753.1333333333332,229.53333333333336 850.7666666666665,326.1051282051282 934,360 C 1017.2333333333335,393.8948717948718 1086.0666666666666,365.1128205128205 1168,353 C 1249.9333333333334,340.8871794871795 1344.9666666666667,345.44358974358977 1440,350 C 1440,350 1440,700 1440,700 Z");
  }
}
footer{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #eee;
  padding: 20px 0;
  @include flex(15px,center,center,column);
  .footer-top {
    @include breakpoint(mobile){
      @include flex(0,space-around,flex-start,row);
    }
    @include flex(0,space-around,center,row);
    width: 100%;
    .left{
      @include breakpoint(mobile){
        display: none;
      }
      img{
        // @include breakpoint(mobile){
        //   width: 0px;
        //   display: none;
        // }
        width: 300px;
      }
    }
    .right{
      form{
        @include flex(10px,center,flex-start,column);
        .form-header{
          width: 100%;
          @include flex(0px, space-between,center,row);
          h1{
            color: rgba(0, 0, 0, 0.48);
          }
          .send{
            @include breakpoint(mobile){
              width: 80px;
            }
            @include button();
            width: 120px;
            padding: 12px 0;
            background-color:#2b59a3 ;
            color: #fff;
            border-radius: 8px;
            
          }
        }
        .content{
          @include flex(12px,center,flex-start,row);
          @include breakpoint(mobile){
            @include flex(10px,center,flex-start,column);
          }  
          .col{
            @include breakpoint(mobile){
              @include flex(10px,center,flex-start,column);
            }    
            @include flex(25px,center,flex-start,column);
          }
          .flex{
            input{
              padding: 15px 10px;
            }
            input,textarea{
              background-color: rgb(231, 223, 223);
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    width: 100%;
    @include flex(15px,space-around,center,row);
    .social{
      ul{
        list-style: none;
        @include flex(15px,space-around,center,row);
        li{
          a{
            text-decoration: none;
            i{
              @include breakpoint(mobile){
                font-size:1rem;
              }
              color: rgb(34, 109, 175);
              font-size:1.5rem;
            }
          }
        }
      }
    }
    .copy-right{
      color: rgb(0, 0, 0);
      cursor:default;
      @include breakpoint (mobile){
        font-size:.5rem;
      }
      a{
        color: rgb(35, 65, 147);
        cursor: pointer;
        margin: 0 5px;
        
      }
    }
  }
}